<div class="container">

    <img src="assets/img/any.jpg" style="height:120px; width:150px" alt="KCB LOGO">
    <br>
    <hr>
    <input type="email" class="form__field" placeholder="Your E-Mail Address" /> &nbsp;&nbsp;
    <br>
    <input type="password" class="form__field" placeholder="Enter your password"/>
    <b class="forgot" routerLink='/auth/forgot-password'>Forgot password?</b>
    <mat-checkbox>Keep me signed in</mat-checkbox>
    <button mat-raised-button class="login pull-right">LOGIN</button>

</div>