
<div class="paddingsm fixed-top backgroundcolor padding">
   <div class="ht2 paddingleft paddingrightsm backgroundblue">
      <table cellpadding="0" width="100%">
         <tr width="100%">
            <td rowspan="2" class="alignright nopadding" width="2%">

               <canvas id="canvas" width="55" height="55">
               </canvas>
            </td>
            <td class="alignleft paddingleftsm">
               <!-- {{jstoday}} -->
               <img src="/assets/img/any.jpg" style="width:100px !important; height: 60px;" alt="Bank">
            </td>
           
            <td class=" paddingleftsm">
               <!-- {{jsday}} -->
               <h3 style="font-family: monospace; color: rgb(4, 52, 124);"><b> Admin Portal</b></h3>
            </td>
            <td style="width: 8px; margin-right: 20px;"class="pddingleftsm">
               <!-- {{jsday}} -->
               
                 <ul>
                  <li>
                     <a href="#"> <img style="width:80px !important; height: 60px;"src="assets/img/av.jfif" alt=""></a>
                     <ul style="padding: 20px; margin-right: 20px;" class="dropdown">
                         
                         <li><button mat-raised-button color="warn" class="glyphicon glyphicon-log-out"> Logout</button></li>
                     </ul>
                 </li>
                 </ul>
            </td>
            <td style="width: 20px;"class="pddingleftsm">
               <!-- {{jsday}} -->
               <!-- <a style="font-family: monospace;"><b>Account</b></a> -->
              
            </td>
            <td style="width: 10px;"class="pddingleftsm">
               <!-- {{jsday}} -->
               <!-- <a style="font-family: monospace;"><b>Account</b></a> -->
              
            </td>
             
         </tr>
         <tr>
            

         </tr>
      </table>

   </div>

</div>