<div class="portal-sidnav-menu" fxLayout="column" fxFlexFill>

  <div class="portal-sidnav-men" fxFlex="nogrow noshrink">
    <br> <br><br>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle">Cash Transactions</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>

        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle">Till Operations</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a routerLink="/till/deposit">
            <h3>
              <div class="subMenuTitle paddingleft">Open Till</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft"> Close Till</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Till Transfer in LCY</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Till Transfer in FCY</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Exchange in LCY</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Exchange in FCY</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Till Transfer To ATM</div>
            </h3>
          </a>
          <a routerLink="/">
            <h3>
              <div class="subMenuTitle paddingleft">Till Status</div>
            </h3>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"><span class="glyphicon glyphicon-check"></span> Enquiries</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>

        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"><span class="glyphicon glyphicon-qrcode"></span> Bill Payments</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>

        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"> <i class="fa fa-money"></i> Transactions Module</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a routerLink="/transactions/list">
            <h3>
              <div class="subMenuTitle paddingleft">Transactions</div>
            </h3>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"><i class="fa fa-users"></i> CBS Customers</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a routerLink="/customers/cbs">
            <h3>
              <div class="subMenuTitle paddingleft">Customers</div>
            </h3>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"> <i class="fa fa-user"></i> User Management</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a routerLink="/users/list">
            <h3>
              <div class="subMenuTitle paddingleft">Users</div>
            </h3>

          </a>
          <a routerLink="/users/pending">
            <h3>
              <div class="subMenuTitle paddingleft">Pending Registrations</div>
            </h3>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="menucolor">
          <mat-panel-title>
            <h3>
              <div class="menutitle"><i class="fa fa-address-card"></i> Profile</div>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>

        </mat-nav-list>
      </mat-expansion-panel>
    </mat-expansion-panel>



  </div>

</div>