<!-- <!-- <div class="body">
    <div class="row paddingtop">
        <div class="col-xl-9 clo-lg-9 col-md-9 col-sm-6 col-xs-6">
        </div>
        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="alignright">
                <select class="form-control" #t [value]="cycle" (change)="onSelected(t.value)">
                    <option [value]="undefined" disabled selected>Cycle</option>
                    <option *ngFor="let cycle of cycles" [value]="cycle">
                        {{ cycle}}
                    </option>

                </select>
            </div>
        </div>
    </div>

    <div class="row paddingtop">
        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter primary">
                <i class="fa fa-users"></i>
                <span class="count-numbers">700</span>
                <span class="count-name">Total</span>
            </div>
        </div>

        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter success">
                <i class="fa fa-users"></i>
                <span class="count-numbers">690</span>
                <span class="count-name">Successful</span>
            </div>
        </div>

        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter danger">
                <i class="fa fa-users"></i>
                <span class="count-numbers">10</span>
                <span class="count-name">Failed</span>
            </div>
        </div>

        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter info">
                <i class="fa fa-money"></i>
                <span class="count-numbers">3500</span>
                <span class="count-name">Total Value</span>
            </div>
        </div>
    </div>
    <div class="row paddingtop graybordertop">
        <div class="col-xl-1 clo-lg-1 col-md-1 col-sm-12 col-xs-12  ">

        </div>
        <div class="col-xl-4 clo-lg-4 col-md-4 col-sm-12 col-xs-12  ">
            <div style="display: block;">
                <canvas mdbChart [chartType]="chartType2" [datasets]="chartDatasets2" [labels]="chartLabels2"
                    [colors]="chartColors2" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <div class="col-xl-1 clo-lg-1 col-md-1 col-sm-12 col-xs-12  ">

        </div>
        <div class="col-xl-6 clo-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="display: block">
                <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div> -->
<!---->
 <div class="body">
    <div class="row paddingtop">
        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div style="background-color: rgb(130, 180, 47);" class="card-counter primary">
            <i class="fa fa-users"></i>
            <span class="count-numbers">100000</span>
            <span class="count-name">Total</span>
          </div>
        </div>
    
        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="card-counter success">
                        <i class="fa fa-check-circle"></i>
                        <span class="count-numbers">40090</span>
                        <span class="count-name">Successful</span>
                </div>
        </div>
    
        <div class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div style="background-color: tomato;" class="card-counter danger">
                <i style="color: white;" class="fa fa-exclamation-triangle"></i>
                <span class="count-numbers">100</span>
                <span class="count-name">Failed</span>
              </div>
        </div>
    
        <div  class="col-xl-3 clo-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div  style="background-color: rgb(0, 61, 76);" class="card-counter info">
            <i class="fa fa-money"></i>
            <span class="count-numbers">39990</span>
            <span class="count-name">Total Value</span>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
          <canvas baseChart width="400" height="300"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
          </div>
        </div>
        <!-- <div class="col-md-6">
            <div style="display: block">
                <canvas baseChart width="400" height="300"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  []
                  [chartType]="barChartType">
                </canvas>
              </div>
        </div> -->
        </div>
 </div>